#container {
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: whitesmoke;
    overflow: hidden;
    width: 60%;
    height: 78vh;
}

#heading{
    color: lightgrey;
    margin: 0;
    margin-top: 20%;
    text-align: center;
}

#cartContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-height: 75vh;
    overflow: scroll;
}

#loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
}